.sq-container{
    display: flex;
    flex-direction: column;
}
.sq{
    width: 100px;
    height: 100px;
    margin-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.sq:nth-child(1){
    background-color: green;
}
  
.sq:nth-child(2){
background-color: blue;
}

.sq:nth-child(3){
background-color: red;
}

.sq:nth-child(4){
background-color: black;
}

.sq:hover{
background-color: #aaa;
}
